@model SaleApp.ViewModels.BrandEditVm

@{
    ViewData["Title"] = "Edit";
    var photoPath = "~/images/brands/" + (Model.ExistPhotoPath ?? "default.png");
}

<h1>Edit</h1>

<h4>Brand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ExistPhotoPath" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @if (ViewBag.BrandEditErrorMessage != null)
            {
                <div class="alert alert-error text-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><strong>Warning!</strong> The brand name cannot be changed due to the same name as the existing brand!   </p>
                </div>
            }
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="ViewBag.StatusList" class="form-control">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div>
                    <div class="custom-file">
                        <input asp-for="Photo" class="form-control custom-file-input" />
                        <label class="custom-file-label">Choose File ... </label>
                    </div>
                </div>
            </div>
            <img class="card-img-top" style="height:200px; width:150px" src="@photoPath" asp-append-version="true" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            @section Scripts {
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                </script>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>